.footer-container{
    width: 97%;
    height: fit-content;
    background-color: #5352ed;
    color: white;
    padding: 0.7% 1.5% !important;
    margin: 0px;
    font-size: 10px;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 620px) {
        font-size: 6px;
        .company-name .seperator{
            display: none;
        }
    }

    .company-name{
        display: flex;
        column-gap: 10px;
        flex-direction: row;
        
        @media screen and (max-width: 620px) {
            flex-direction: column;
        }

        .phrase{
            font-family: cursive;
        }
        
    }

}